
body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

button {
    margin: 5px;
}

#taskBtn {
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 2px solid rgb(56, 56, 120);
    background-color: lightblue;
    color: rgb(56, 56, 120);
    font-size: 70px;
    transition: 100ms;
}

/* #addTask:active {
    background-color: rgb(145, 182, 195);
} */

/* sidebar (Left side of page) */
#sidebar {
    width: 30vw;
    background-color: rgb(170, 170, 170);
    margin: 0;
    padding: 60px 80px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#sidebar > h2 {
    margin: 10px;
}

#content {
    width: 70vw;
    background-color: burlywood;
    margin: 0;
    padding: 60px 100px;

}

.project {
    font-size: 28px;
    margin: 5px 50px;
    font-weight: 400;
}

#create {
    margin: 20px;
}

.project:hover, #create:hover {
    cursor: pointer;
}


/* content */

#content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task {
    background-color: rgb(126, 182, 203);
    height: 50px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

